<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="jameica.xmlrpc" version="1.0" class="de.willuhn.jameica.xmlrpc.Plugin">

  <description>Meta-Plugin, welches andere Plugins um XML-RPC-Funktionalitaet erweitert</description>
  <url></url>
  <homepage>http://www.willuhn.de/projects/jameica</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <classfinder>
    <include>jameica\.xmlrpc\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="lookup"         depends=""       autostart="true" class="de.willuhn.jameica.xmlrpc.rmi.LookupService" />
    <service name="listener.http"  depends="lookup" autostart="true" class="de.willuhn.jameica.xmlrpc.rmi.HttpService" />
    <service name="listener.https" depends="lookup" autostart="true" class="de.willuhn.jameica.xmlrpc.rmi.HttpsService" />
  </services>

  <extensions>
    <extension class="de.willuhn.jameica.xmlrpc.ext.jameica.SettingsView"
             extends="de.willuhn.jameica.gui.internal.views.Settings"/>
  </extensions>

</plugin>

